<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dish|餐盤搭配</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link rel="stylesheet" href="./css/Conbination.css">
</head>

<body>
  <!-- Header -->
  <div class="Header">
    <nav class="nav row" id="nav">
      <div id="menu">
        <ul class="burgerBtn" id="burgerBtn">
          <li><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
        <ul id="burgerList">
          <li><a href="./About.html">關於盤子</a></li>
          <li><a href="./Nutrition.html">餐盤營養</a></li>
          <li><a href="./Chosen.html">精選餐盤</a></li>
          <li><a href="./Products.html">餐盤總覽</a></li>
          <li><a href="./Conbination.html">餐點搭配</a></li>
        </ul>
      </div>
      <div id="Logo">
        <a href="../Index.html"><img src="./Pic/Logo.png" alt=""></a>
      </div>
      <div class="navBar">
        <ul class="navBar barList">
          <li><a href="./About.html">關於盤子</a></li>
          <li><a href="./Nutrition.html">餐盤營養</a></li>
          <li><a href="./Chosen.html">精選餐盤</a></li>
          <li><a href="./Products.html">餐盤總覽</a></li>
          <li><a href="./Conbination.html">餐點搭配</a></li>
        </ul>
        <div id="shopCart">
          <li><a><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </nav>
    <div class="shadow" id="top-shadow"></div>
  </div>

  <!-- Body -->
  <!-- Banner -->
  <div class="banner">
    <div class="bannerPic">
      <img src="./Pic/conbineBanner.png" alt="">
    </div>
    <p>開啟您的美味搭配!</p>
    <span><i class="fas fa-angle-down"></i></span>
  </div>
  <!-- Combination -->
  <div class="combination" id="app">
    <div class="breedSelector">
      <ul>
        <li class="selectorBtn">超小型犬</li>
        <li class="selectorBtn">小型犬</li>
        <li class="selectorBtn">中型犬</li>
        <li class="selectorBtn">大型犬</li>
        <li class="selectorBtn">超大型犬</li>
      </ul>
    </div>
    <div class="combine Meat">
      <div class="largeMeat"><img id="meatLarge" src="./Pic/chicken.png" alt=""></div>
      <div class="small meat">
        <div class="meatWrap">
          <img class="smallmeatPic" src="./Pic/chicken.png" alt=""><input type="radio" class="foodmeat" name="meat" value="100" v-model="meatPrice">雞肉
        </div>
        <div class="meatWrap">
          <img class="smallmeatPic" src="./Pic/beef.png" alt=""><input
            type="radio" class="foodmeat" name="meat" value="200" v-model="meatPrice">牛肉
        </div>
        <div class="meatWrap">
          <img class="smallmeatPic" src="./Pic/lamb.png" alt=""><input
            type="radio" class="foodmeat" name="meat" value="300" v-model="meatPrice">羊肉
        </div>
        <div class="meatWrap">
          <img class="smallmeatPic" src="./Pic/fish.png" alt=""><input
            type="radio" class="foodmeat" name="meat" value="400" v-model="meatPrice">魚肉
        </div>
      </div>
      <div class="dwicon">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>

    <div class="combine Oil">
      <div class="largeOil"><img id="oilLarge" src="./Pic/oil1.png" alt=""></div>
      <div class="small oil">
        <div class="oilWrap" >
          <img class="smalloilPic" src="./Pic/oil1.png" alt=""><input type="radio" class="foodoil"
            name="oil" value="100" v-model="oilPrice">亞麻籽油
        </div>
        <div class="oilWrap" >
          <img class="smalloilPic" src="./Pic/oil2.png" alt=""><input type="radio" class="foodoil" name="oil" value="200" v-model="oilPrice">橄欖油
        </div>
        <div class="oilWrap" >
          <img class="smalloilPic" src="./Pic/oil3.png" alt=""><input type="radio" class="foodoil" name="oil" value="300" v-model="oilPrice">葵花油
        </div>
        <div class="oilWrap" >
          <img class="smalloilPic" src="./Pic/oil4.png" alt=""><input type="radio" class="foodoil" name="oil" value="400" v-model="oilPrice">芝麻油
        </div>
      </div>
    </div>

    <div class="selectFood">
      <div class="selectPic"></div>
      <div class="total">
        <span>價格</span><br>
        <p input="text"> {{ meatPrice }} + {{ oilPrice }} </p>
        <div class="totalprice"> = {{ sum }}</div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <Footer>
    <div class="footer Pic">
      <div class="pot" id="viewShare">
        <div class="potPic">
          <a href="./Chosen.html"><img src="./Pic/PotArt.png" alt=""></a>
        </div>
        <div class="shadow">
          <img src="./Pic/shadow(new).png" alt="">
        </div>
      </div>
      <div class="pot" id="viewShare">
        <div class="potPic">
          <a href="./Conbination.html"><img src="./Pic/PotCom.png" alt=""></a>
        </div>
        <div class="shadow">
          <img src="./Pic/shadow(new).png" alt="">
        </div>
      </div>
    </div>
    <div class="footer content">
      <div class="connect">
        <span>相關連結</span>
        <a href="#">Dish粉絲專業</a>
        <a href="#">Instagram</a>
        <a href="#">聯絡我們</a>
        <a href="#">服務條款</a>
        <a href="#">隱私政策</a>
      </div>
      <div class="App">
        <span>Dish應用程式</span>
        <a href="#">iOS App</a>
        <a href="#">Android App</a>
      </div>
      <div class="forRestuarant">
        <span>店家專區</span>
        <a href="#">如何加入Dish?</a>
        <a href="#">聯繫分享者</a>
      </div>
    </div>
  </Footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js" crossorigin="anonymous"></script>
  <script src="./JS/Conbination.js"></script>
</body>

</html>